.overflow {
    overflow-y: scroll;
    width: 460px;
    height: 350px;
}

.first, .second, .third {
    margin-bottom: 20px;
    line-height: 1;
}

.title {
    font-size: large;
    font-weight: 700;
    color: rgb(11, 11, 141);
    word-spacing: 10px;
   text-transform: uppercase;
   text-align: center;
   width: 460px;
}