@font-face {
    font-family: "Gilroy-Bold";
    src: url("fonts/Gilroy-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("fonts/Gilroy-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
}

.size {
    width: 100%;
    height: 100%;
}

.menu {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.border {
    border-bottom: 1px solid #828282;
}

.container {
    padding-left: 15%;
    padding-right: 15%;
}

.menu-item {
    font-size: 18px;
    font-family: 'Gilroy-Bold', serif, sans-serif;
    text-decoration: none;
    color: #828282;
}

.menu-item.active {
    color: #070707;
}

.name {
    font-family: 'Gilroy-Bold';
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}

.job {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.lang, .lang-mobile {
    height: max-content;
    color: #828282;
    font-family: 'Gilroy-Bold';
    font-size: 16px;
    line-height: 20px;
    transform: translateY(-280%) rotate(-90deg);
    transform-origin: bottom right;
    display: flex;
    align-items: end;
}

.lang .eng, .lang-mobile .eng  {
    color: #070707;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 30px;
    margin-bottom: 50px;
}

.persone-photo {
    width: 100%;
}

.home {
    margin-bottom: 100px;
}

.about {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
}

.topic {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}

.topic div:not(:last-child) {
    margin-bottom: 30px;
}

.aboutMe,
.portfolio {
    background-color: #F6F6F6;

}

.padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.programs {
    margin-bottom: 60px;
}

.bottom {
    margin-bottom: 65px;
}

.bg-blue {
    justify-content: center;
    display: flex;
    /* max-width: 89.07px;
    max-height: 88.41px; */
    margin-bottom: 20px;
}

.adobe {
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
    text-align: center;
    margin-bottom: 27px;
    min-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoshop {
    display: inline-block;
}

.star-list {
    display: flex;
}

.star {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    border-radius: 1px;
    background-image: url(Star.png);
    margin-right: 5px;
}

.black {
    background-image: url(Star\ \(1\).png);
}

.group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio-img {
    width: 100%;
}

.portfolio-1-name {
    margin: 30px 0;
}

.port-name {
    display: flex;
    justify-content: center;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
}

.portfolio-1:not(:last-child) {
    margin-bottom: 60px;
}

.contacts-name {
    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input {
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background-color: black;
    width: 180px;
    height: 40px;
    border-radius: 40px;
}

.input a {
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.icons-wrapper {
    margin-top: 70px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.last {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.image-dekstop {
    display: block;
}

.image-mobile {
    display: none;
}
.list-menu{
    display: none;
}
@media screen and (max-width: 740px) {
    .header {
        display: none;
    }

    .lang {
        display: none;
    }

    .title {
        display: block;
    }

    .name {
        margin-bottom: 30px;
    }

    .container {
        padding-left: 5%;
        padding-right: 5%;
    }

    .image-dekstop {
        display: none;
    }

    .image-mobile {
        display: block;
    }

    .photoshop,
    .illustrator,
    .effects,
    .figma {
        width: 100%;
    }

    .star-list {
        width: 100%;
        justify-content: center;
    }
    .group :not(:last-child){
        margin-bottom: 30px;
    }
    .input{
        width: 100%;
    }


    .menu-mobile {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 40px;
        right: 5%;
    }
    
    
    /* Гамбургер иконка */
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
    }
    
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #222222;
        transition: all 0.5s;
    }
    
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 5px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 5px);
    }
    
    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
      display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
      top: 50%;
      transform: translate(-50%, 0%) rotate(-45deg); 
    }
    
    /* Меню, которое будет появляться */
    .list-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
      background: white;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        display: block;
    }
    
    .list-menu.active {
        transform: translateX(0);
    }
    .list-menu .menu{
        display: block;
    }
    .list-menu .menu div{
        margin-bottom: 40px;
    }
    
    .list-menu .menu a{
       font-size: 34px;
    }
    .lang-mobile{
        transform: translateY(400%) rotate(90deg);
        justify-content: end;
        font-size: 34px;
        width: 85%;
    }
}