@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.size {
    width: 100%;
    height: 100%;
}

.container {
    padding-left: 5%;
    padding-right: 5%;

}

.border {
    border-bottom: 3px solid #DA6B62;

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-item {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
    color: #141323;
}

.list-menu {
    width: 45%;
}

.title {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-right: 50%;
}

.name {
    font-family: Roboto;
    font-size: 64px;
    font-weight: 800;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;
    color: #141323;
    margin-bottom: 40px;
}

.str1,
.str2,
.str3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #141323;
    margin-bottom: 20px;
}

.string {
    display: block;
    margin-bottom: 60px;
}

.input1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    background: #DA6B62;
    border-radius: 20px 0px;
    width: 340px;
    height: 72px;
    margin-right: 50px;
}

.input1 a {
    color: white;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.input2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    /*background: #F5F5F5;*/
    border-radius: 20px 0px;
    width: 340px;
    height: 72px;
    border: 3px solid #DA6B62;
}

.input2 a {
    color: #141323;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
}

.girl {
    width: 40%;
}

.description {
    margin-bottom: 100px;
}

.d-flex {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    color: #141323;
    margin-bottom: 40px;
}

.n1,
.n2,
.n3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #141323;
    text-align: center;
}

.list1,
.list2,
.list3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #141323;
}

.rect-group {
    display: flex;
    justify-content: space-between;
}

.rect1,
.rect2,
.rect3 {
    background-image: url(IMAGE/Mask\ group.png);
    background-repeat: no-repeat;
    border-radius: 60px 0px;
    display: block;
    justify-content: center;
    width: 31%;
    padding: 10px;
    background-size: cover;
}

.course-for {
    margin-bottom: 100px;
}

.card1,
.card2,
.card3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #141323;
    border: 3px solid #DA6B62;
    border-radius: 20px 0px;
    margin-bottom: 30px;
    padding: 38px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.numb {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
}

.who {
    width: 100%;
    margin-left: 50px;
}

.p1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #141323;
    width: 85%;
}

.lessons {
    margin-bottom: 100px;
    display: block;
}

.jc-c {
    justify-content: center;
}

.girl2 {
    margin-right: 150px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
    margin: 5px 5px;
    width: 100%;
}

.projects {
    margin-bottom: 100px;
    display: block;
}

.part {
    display: block;
    width: 100%;
}

.part1,
.part2 {
    display: flex;
    margin-bottom: 15px;

}

.little-font {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #141323;
    margin-bottom: 10px;
}

.spec {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 48px;
    color: #141323;
}

.red {
    color: #DA6B62;
}

.weight {
    font-weight: 600;
}

.more {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

.photo {
    margin-right: 25px;
    /*float: right;*/
}

.man1-1 {
    margin-right: 20px;
}

.man1-1,
.man1-2 {
    border: 3px solid #DA6B62;
    width: 100%;
    padding: 0 50px;
}

.jc-unset {
    justify-content: unset;
}

.d-flex-man {
    display: flex;
    margin-top: 47px;
    margin-bottom: 55px;
}

.marg-btm {
    margin-bottom: 16px;
}

.height {
    height: 38%;
}

.programm .rect1,
.programm .rect2,
.programm .rect3 {
    background-image: url(IMAGE/Rectangle\ 23.png);
}

.programm .rect-group {
    margin-bottom: 45px;
}

.cooperation {
    margin-bottom: 40px;
}

.slick-dots {
    display: flex;
    justify-content: center;
}

.slick-dots li {
    list-style: none;
    font-size: 20px;
}

.slick-dots li:before {
    content: "";
    width: 100px;
    display: block;
    height: 3px;
    margin-right: 20px;
    background-color: #DAECEA;
}

.slick-dots li.slick-active:before {
    background-color: #509F9A;
}

.slick-dots button {
    display: none;
}

.cooperation-slider img {
    width: 100%;
}

.reviews {
    margin-bottom: 60px;
}
.reviews .reviews-item {
    width: 536px;
    height: 640px;
}
.reviews-slider {
    display: flex;
}
.reviews .reviews-item-bg {
    background-image: url("IMAGE/Group\ 97.png");
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.reviews .reviews-item-photo {
    justify-content: center;
    display: flex;
}

.reviews .reviews-item-desc {
    display: flex;
    width: 100%;
    justify-content: center;
}
.reviews .reviews-item-desc-bg {
    width: 370px;
    background-color: #FFFFFF;
    margin: 30px 0;
    padding: 30px 15px;
}

.reviews .reviews-item-desc .reviews-item-desc-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #141323;
    padding-bottom: 20px;
}

.reviews .reviews-item-desc .reviews-item-desc-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #141323;
}

.programm, .cooperation {
    margin-bottom: 100px;
}