.title {
    text-align: center;
    padding: 20px;
    background-color: rgb(140, 203, 231);
    color: blue;
    font-weight: bold;
    font-size: large;
    margin: 0;
}

.column1 {
    min-width: 150px;
    background-color: khaki;
    text-align: left;
    padding-left: 10px;
}

a {
    color: blue;
    vertical-align: middle;

}

img {
    float: left;
    margin-right: 15px;
}

.column3 {
    width: auto;
    display: block;
    padding: 15px;
    position: relative;
}

table {
    border-spacing: 0px;
}

.list {
    padding-inline-start: 15px;
    font-weight: 400;
}

.marg {
    margin-top: 15px;
}

.text {
    font-weight: 400;
    text-align: left;
    font-size: 24px;
}

.title-football {
    margin-top: 0;
    text-align: center;
}

.background {
    background-image: url(ball3.png);
    background-position: right;
    background-repeat: repeat-y;
    background-size: 50px;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
}

.disp {
    display: flex;
}