.last-child a:hover,
.first-child a:hover,
.after a:hover,
.before a:hover
 {
    color: red;
}

.last-child a:not(:last-child) {
    border-right: 2px solid red;
}

.last-child a, .first-child
a {
    padding: 5px;
}

.first-child a:not(:first-child) {
    border-left: 2px solid red;
}

.after a:not(:last-child):after {
    content: '';
    background-color: red;
    height: 25px;
    width: 2px;
    margin-left: 5px;
}
.after a{
    display: flex;
        padding-right: 5px;
}
.after {
    display: flex;
}

.before a:not(:first-child):before {
    content: '';
    background-color: red;
    height: 25px;
    width: 2px;
    margin-right: 5px;
}
.before a{
    display: flex;
    padding-left: 5px;
}
.before {
    display: flex;
}